<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">emotiondiary</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	<li class="active"><a href="/">Home</a></li>
        <li><a href="/diary">Diary</a></li>
        <li><a href="/members">Setting</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <img class="img-circle" style="padding: 5px 5px;" src={{profile_image}} />
	  </li>
          <li>
            <p class="navbar-text">
              <a href="/accounts/logout/">Logout</a>
	    </p>
          </li>
        </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>

