{% extends "app/base.html" %}

{% block contents %}
  <div class="container">
    <div class="jumbotron">
      <form method="POST" action="/diary/create">
        {% csrf_token %}
	{% for field in form %}
          {{ field }}
	{% endfor %}
        <button type="submit">Save</button>
      </form>
    </div>
  </div>
{% endblock%}

{% block javscript %}
  <script src="/static/js/diary.js"></script>
  <script type="text/javascript">
    var items = {{ messages|safe }};
    window.onload = makeCalender(items);
  </script>
{% endblock %}
